.main {
  min-height: 92vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 1rem 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  color: white;
}

.subtitle {
  margin: 0 0 1rem 0;
  text-align: center;
  color: white;
}

.subSubTitle {
  margin: 3rem 0 01rem 0;
  text-align: center;
  color: white;
}

.contentWrapper {
  width: 100%;
}

.content {
  text-align: center;
  overflow-wrap: break-word;
  
  color: white;
  max-width: 80svw;
  min-width: 5rem;

  border: dashed 3px #ccc;
  border-radius: 1rem;
  padding: 1.2rem;
  margin: 0;
}